DINGTALK_CLIENT_ID="<钉钉客户端ID>"
DINGTALK_CLIENT_SECRET="<钉钉客户端密钥>"

LLM_PROVIDER="<LLM 提供商>"
LLM_BASE_URL="<LLM BASE URL>"
LLM_MODEL="<LLM 模型>"
LLM_API_KEY="<模型 api key>"

WORK_DIR="<工作空间目录>"

ENABLE_THINKING="<是否启用思考模式>"

BASH_TIMEOUT="<Bash 命令执行超时时间>"

MAX_SESSION_WINDOW_SIZE="<会话窗口最大长度>"

TAVILY_API_KEY="<Tavily API Key>"